<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
   
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:app.properties"/>
    </bean>
    
    <bean id="MapperScannerWithSharding" class="com.mogujie.tsharding.trade.tsharding.route.orm.MapperScannerWithSharding">
        <property name="packageName" value="${tsharding.orm.mapperPacakge}"/>
        <property name="mapperLocations" value="classpath*:sqlmap/*.xml"/>
    </bean>

    <bean id="mapperShardingInitializer" class="com.mogujie.tsharding.trade.tsharding.route.orm.MapperShardingInitializer"
          depends-on="MapperScannerWithSharding">
        <property name="needEnhancedClasses" value="${tsharding.needEnhancedClasses}"/>
    </bean>



</beans>