<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd


    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    
    <!--tsharding 配置-->
    <bean id="logFilter" class="com.alibaba.druid.filter.logging.Slf4jLogFilter">
        <property name="dataSourceLogEnabled" value="false"/>
        <property name="resultSetLogEnabled" value="false"/>
        <property name="statementLogEnabled" value="true"/>
        <property name="statementExecutableSqlLogEnable" value="true"/>
    </bean>
    
    <bean name="druidDataSourceFactory" class="com.mogujie.trade.db.DruidDataSourceFactory">
        <property name="filters">
            <list>
                <ref bean="logFilter"/>
            </list>
        </property>
    </bean>
    
    <bean name="dataSourceScanner" class="com.mogujie.trade.db.DataSourceScanner">
        <property name="dataSourceFactory" ref="druidDataSourceFactory"/>
    </bean>
    
    <bean name="readWriteSplittingAdvice" class="com.mogujie.trade.db.ReadWriteSplittingAdvice"/>
    
    <!-- 采用@Transactional注解方式使用事务    -->
    <tx:annotation-driven mode="proxy"/>
    
    <aop:aspectj-autoproxy proxy-target-class="true"/>

</beans>