<configuration debug="false" scan="true" scanPeriod="30 seconds">

	<logger name="druid.sql" level="DEBUG" />

	<logger name="com.alibaba.druid" level="DEBUG" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%t] %5p \(%F:%L\) %M\(\) - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.mogujie.tesla" level="DEBUG" />

	<logger name="com.mogujie.service" level="DEBUG"></logger>

	<logger name="com.alibaba.druid" level="DEBUG"></logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>